<div class="columns is-mobile is-centered">
  <div class="column is-half">
            <!-- ::: Movies :::: -->
  <p><a class="is-uppercase is-size-1 has-text-white-ter" href="/list_movies/">
              Short Movies
  </a></p>
            <!-- ::: A00s :::: -->
  <p><a class="is-uppercase is-size-1 has-text-white-ter" href="/list_a00s/">
              A00s
  </a></p>
            <!-- ::: Urban :::: -->
  <p><a class="is-uppercase is-size-1 has-text-white-ter" href="/list_urbans/">
              Urban
  </a></p>
            <!-- ::: Resources :::: -->
  <p><a class="is-uppercase is-size-1 has-text-white-ter" href="/list_resources/">
              Resources
  </a></p>
            <!-- ::: Collectibles :::: -->
  <p><a class="is-uppercase is-size-1 has-text-white-ter" href="">
              Collectibles
  </a></p>
            <!-- ::: About :::: -->
  <p><a class="is-uppercase is-size-1 has-text-white-ter" href="/about">
              About
  </a></p>
</div>
</div>