{% extends 'base.html' %}
{% load bulma_tags %}
{% load cloudinary %}

{% block content %}
<div class="container">
{% if submitted %}
<p class="success">Your Image was submitted successfully! </p>
{% else %}
<div class="columns">
 <div class="column is-three-fifths is-offset-one-fifth">

<form class="" action="" enctype="multipart/form-data" method="post" novalidate>
   {% csrf_token %}
   {{ form|bulma }}
    {{ backend_form }}

   <div class="field">
     <button type="submit" class="button is-primary">Submit</button>
   </div>
   <input type="hidden" name="next" value="{{ next }}"/>

</form>
</div>
{% endif %}

</div>
</div>
{% endblock content %}