{% extends 'base.html' %}
{% load bulma_tags %}
{% load cloudinary %}

{% block content %}
{% if submitted %}
<div class="container">
<p class="success">Your Image was submitted successfully! </p>
<div class="container">
{% else %}
<div class="container">
<div class="columns">
 <div class="column is-three-fifths is-offset-one-fifth">
     <div class="columns">
  <div class="column">
      {% if img_obj.cl_img %}
    <figure class="image is-96x96">
        {% cloudinary img_obj.cl_img format="jpg" width=96 height=96 crop="fill" %}
    </figure>
  </div>
  <div class="column">
      <a class="button is-danger" href="{% url 'delete-urban-img' img_obj.urban_tb.id %}">Delete All</a>
      {% else %}
      <a class="button is-primary" href="{% url 'create-urban-img-request' img_obj %}">Add Image</a>
      {% endif %}
  </div>
     </div>
<form class="" action="" enctype="multipart/form-data" method="post" novalidate>
   {% csrf_token %}
   {{ form|bulma }}
    {{ backend_form }}

   <div class="field">
     <button type="submit" class="button is-primary">Submit</button>
   </div>
   <input type="hidden" name="next" value="{{ next }}"/>
</form>
</div>
</div>
{% endif %}

</div>

{% endblock content %}