{% extends 'base.html' %}
{% load cloudinary %}
{% block content %}
    <div class="row">
        <p class="is-size-2 has-text-centered is-uppercase">Urban Art </p>
        <!-- loop through all the images -->
        <div class="columns is-multiline is-desktop">
        {% for pic in all_urbans %}
            <div class="column is-3">
        <div class="card has-background-black-ter has-text-white-ter">
  <div class="card-image">
    <a class="image is-1by1" href="{% url 'view-urban-request' pic.urban_tb_id %}">
        {% cloudinary pic.cl_img format="jpg" width=900 height=900 crop="fill" %}
    </a>
  </div>
            <!--div class="card-content">
      <div class="media-content">
        <p class="title is-4">{{pic.title}}</p>
      </div>
    </div-->

</div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}