{% extends "single.html" %}
{% block content %}
<!-- Section 1 -->
    <section id="ii-bg-h" class="ii-bgimg-1" style="background-image: url('../static/images/iionu/bg1.jpg');">
      <div class="container">
        <div class="ii-hero-body ii-h-b">
          <img class="ii-logo" src="/static/images/iionu/logo-iionu-01.svg">
          <h1 class="ii-header-txt has-text-white ii-txt-shadow">NFT COLLECTION</h1>
        <div id="ii-arrow-div">
        </div>
        </div>
      </div>
      </section>
      <!-- Section 2 -->
    <section class="ii-bgimg-2" id="about" style="border-top: 1px solid #fff;">
      <div class="container">
        <!--div class="ii-proj-box"-->
        <h1 class="ii-header-txt has-text-white">THE iiONu PROJECT</h1>
        <div class="content is-medium ii-txt-font">
          <p>Inspired by the Aye-aye from Madagascar - an endangered strepsirrhine primate, this project aims to make individuals aware of their responsibilities to the planet. 
          If today the signs of decay that lead us to environmental disaster are evident, we also know that nature always survives.</p>
          <p>As such, we are minting 10000 nfts at Polygon chain that have the eyes on each of us.</p>
          <p>The collection is available at <a href="http://opensea.io/collection/iionu" target="blanc"><span style="color: blue;">Opensea</span></a>.</p>
    </div> 
  <!--/div-->
    <div id="ii-anim-container">
    </div>
  </div>
      </section>
      <!-- Section 3 -->  
    <section class="ii-bgimg-3 has-background-white"> 
      <div class="container">
        <h1 class="ii-header-txt txt-sketch has-text-black">ORIGINAL ARTWORK <br >CREATED FROM SKETCH</h1>
        <div class="columns ii-drawings">
          <div class="column">
            <figure class="image is-200x200">
          <img class="ii-img-draw" src="/static/images/iionu/01.png" />
            </figure>
          </div>
          <div class="column">
            <figure class="image is-200x200">
            <img class="ii-img-draw" src="/static/images/iionu/02.png" />
            </figure>
          </div>
          <div class="column">
            <figure class="image is-200x200">
          <img class="ii-img-draw" src="/static/images/iionu/03.png" />
            </figure>
          </div>
          <div class="column">
            <figure class="image is-200x200">
            <img class="ii-img-draw" src="/static/images/iionu/04.png" />
            </figure>
          </div>
        </div>
      </div>
      </section>
      <!-- Section 4 -->
    <section class="ii-bgimg-4" id="actionplan" style="padding-bottom: 2.5rem;">
      <div class="container">
      <h1 class="ii-header-txt txt-plan has-text-black">ACTION PLAN</h1>
      <div class="columns ii-txt-block ii-txt-font">
      <div class="column has-text-black">
        <div class="content is-medium">
          <h2 class="ii-h2">1 - NO MAN IS AN ISLAND</h2>
        <ul>
        <li>EVERYDAY COMMUNITY BUILDING</li>
        <li>SOCIAL MEDIA MARKETING</li>
        <li>FORMAL PRESS RELEASES</li>
        <li>DISCORD SERVER AND WHITELISTING</li>
        </ul>
        </div>
      </div>
        <!-- 02 -->
          <div class="column has-text-black">
        <div class="content is-medium">
        <h2 class="ii-h2">2 - THE MINT</h2>
        <ul>
            <li>PRESALE UNTIL 11/22/2022</li>
            <li><span>ONE FREE NFT</span> FOR EACH PRESALE ITEM</li>
            <li>MARKETING BOOST</li>
            <li>PUBLIC SALE OPEN 11/24/2022</li>
        </ul>
          </div>
        </div>
        </div>
            <div class="columns ii-txt-block ii-txt-font">
              <div class="column has-text-black">
                <div class="content is-medium">
          <h2 class="ii-h2">3 - EVENTS</h2>
              <ul>
               <li>EACH PUBLIC MINT PHASE</li>
               <li>ALEATORY DISTRIBUTION OF <span>10 FREE NFTs</span> EVERY MONT FOR THE PUBLIC SALE</li>
               <li><span>3% OF CREATOR FEE</span> RANDOMLY DISTRIBUTED WITH MEMBERS PERIODICLY</li>
               <li><span>2% OF CREATOR FEE</span> SEND TO AN ENVIRONMENT ONG CHOOSED BY THE COMMUNITY</li>
               <li>DISPLAY PUBLICLY EACH GIVEAWAY RESULT</li>
               </ul>
              </div>
        </div>               
            <div class="column has-text-black">
              <div class="content is-medium">
              <h2 class="ii-h2">4 - NEXT GENERATION IIONUs</h2>
              <ul>
              <li>IIONU FOR METAVERSE</li>
              <li>SELF UNIQUE AVATAR GENERATOR</li>
              </ul>
              </div>
            </div>
          </div>
        </div>
    </section>
      <!-- Section 5 -->
    <!--section class="ii-bgimg-5" id="youplay">
      <div class="container">
      </div>
    </section-->
    <!-- Section 6 -->
  <section class="ii-bgimg-6" id="team">
    <div class="container">
    <h1 class="ii-header-txt txt-team has-text-black">THE TEAM</h1>
    <div class="columns">
      <div class="column ii-team">
    <div class="card" style="background-image: url('/static/images/iionu/mlba.png');">
      <div class="card-image">
        <figure class="image is-4by3">
        <!--img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image"-->
        </figure>
      </div>
  <div class="card-content ii-txt-font ii-img-txt">
          <p>CREATOR & FOUNDER</p>
          <h2>C MULUBA</h2>
          <p>Creative Director, Designer, Production </p>
  </div>
    <div class="inside-mask"></div> <!-- Inside Div -->
    </div>
      </div>
      <div class="column ii-team">
        <div class="card" style="background-image: url('/static/images/iionu/matos.png')">
          <div class="card-image">
            <figure class="image is-4by3">
            <!--img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image"-->
            </figure>
          </div>
      <div class="card-content ii-txt-font ii-img-txt">
        <p>STRATEGY</p>
        <h2>C MATOS</h2>
        <p>Project Strategy</p>
      </div>
        <div class="inside-mask"></div> <!-- Inside Div -->
        </div>
      </div>
      <!-- Point -->
      <div class="column ii-team">
        <div class="card" style="background-image: url('/static/images/iionu/pedro.png')">
          <div class="card-image">
            <figure class="image is-4by3">
            <!--img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image"-->
            </figure>
          </div>
      <div class="card-content ii-txt-font ii-img-txt">
        <p>WRITER</p>
        <h2>PEDRO ALBUQUERQUE</h2>
        <p>Writer Man</p>
      </div>
        <div class="inside-mask"></div> <!-- Inside Div -->
        </div>
      </div>
      <div class="column ii-team">
        <div class="card" style="background-image: url('/static/images/iionu/rafa.png')">
          <div class="card-image">
            <figure class="image is-4by3">
            <!--img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image"-->
            </figure>
          </div>
      <div class="card-content ii-txt-font ii-img-txt">
        <p>COMMUNITY COORDINATOR</p>
       <h2>RAFAELA SILVA</h2>
       <p>Community Specialist</p>
      </div>
        <div class="inside-mask"></div> <!-- Inside Div -->
        </div>
      </div>
    </div>
</div>
  </section>
  <!-- Section 7 -->
<section class="ii-bgimg-7">
  <div class="container">
    <h1 class="ii-header-txt txt-comm">JOIN THE COMMUNITY</h1>
    <div class="columns is-desktop">
      <div class="column ii-col">
          <a class="ii-icon" target="blanc" href="https://www.instagram.com/c_muluba">
            <figure class="image is-96x96">
              <img class="is-rounded ii-social" src="/static/images/iionu/social/instagram.svg">
            </figure>
          </a>
      </div>
      <div class="column ii-col">
          <a class="ii-icon" target="blanc" href="https://discord.gg/3Q2W7TAk">
            <figure class="image is-96x96">
              <img class="is-rounded ii-social" src="/static/images/iionu/social/discord.svg">
            </figure>
          </a>
        </div>
      <div class="column ii-col">
          <a class="ii-icon" target="blanc" href="https://www.reddit.com/r/iiONu_NFT_collection">
            <figure class="image is-96x96">
              <img class="is-rounded ii-social" src="/static/images/iionu/social/reddit.svg">
            </figure>
          </a>
        </div>
      <div class="column ii-col">
          <a class="ii-icon" target="blanc" href="https://www.twitter.com/iiONu_NFT">
            <figure class="image is-96x96">
              <img class="is-rounded ii-social" src="/static/images/iionu/social/twitter.svg">
            </figure>
          </a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
