/* line 1, mlba/static/styles/style.scss */
html {
  background-color: #242424 !important;
  scroll-behavior: smooth; }

/* line 5, mlba/static/styles/style.scss */
html, body {
  cursor: url("/static/images/iionu/cursor-white.svg?8c422375c3e1"), default;
  /* just change the cursor.ico path to your location */ }

/* line 10, mlba/static/styles/style.scss */
.bg_overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 0;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: transparent;
  /* background-color: rgb(0,0,0); Black fallback color */
  /* background-color: rgba(0,0,0, 0.9); Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */ }

/* line 24, mlba/static/styles/style.scss */
.ipfs_img {
  min-width: 200%;
  /* center image */
  margin-left: -50%;
  margin-top: -50%;
  height: auto; }

/*
.navbar-menu {
  background-color: #242424 !important;
  }
  */
/* line 36, mlba/static/styles/style.scss */
.is-size-1-desktop {
  font-size: 4rem !important; }

/* line 39, mlba/static/styles/style.scss */
.is-size-1-mobile {
  font-size: 2rem !important; }

/* line 42, mlba/static/styles/style.scss */
.label {
  color: #fafafa; }

/* line 45, mlba/static/styles/style.scss */
.content a {
  color: #f5f5f5; }

/* Bulma uses SASS mixins for creating CSS outputs */
/* line 61, mlba/static/styles/style.scss */
.loader-mixin {
  animation: spinAround .5s infinite linear;
  border: 2px solid #f1f1f1;
  border-radius: 9999px;
  border-right-color: transparent;
  border-top-color: transparent;
  display: block;
  height: 1em;
  position: relative;
  width: 1em; }

/* line 66, mlba/static/styles/style.scss */
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0; }

/* line 74, mlba/static/styles/style.scss */
.video-wrapper {
  border: 2px solid #000;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

/*
@media screen and (min-width: 1024px){
.navbar-burger {
    color: #4a4a4a;
    cursor: pointer;
    display: block;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
    margin-left: auto;
}
.navbar-link.is-active, a.navbar-item.is-active{
  color: #fafafa;
}
}*/
/* line 102, mlba/static/styles/style.scss */
.navbar-menu {
  display: none;
  z-index: 9999; }

/* line 108, mlba/static/styles/style.scss */
.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
  background-color: transparent;
  color: #fafafa; }

/* line 113, mlba/static/styles/style.scss */
.navbar, .navbar-end, .navbar-menu.is-active, .navbar-start {
  justify-content: flex-end;
  display: block; }

/* line 117, mlba/static/styles/style.scss */
.navbar-menu.is-active {
  position: absolute;
  width: 100vw; }

/* line 121, mlba/static/styles/style.scss */
.navbar-burger {
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: absolute;
  width: 3.25rem;
  right: 1rem; }

/*
.navbar-end {
    margin-left: auto;
    display: block;
}
*/
/* line 136, mlba/static/styles/style.scss */
.navbar-item, .navbar-link {
  color: #4a4a4a;
  display: block;
  line-height: 1.5;
  padding: .5rem .75rem;
  position: relative; }

/* line 143, mlba/static/styles/style.scss */
a, a.navbar-burger, .navbar-link, a.navbar-item {
  cursor: url("/static/images/iionu/pointer-white.svg?59d04e6ddd8d"), pointer; }

/* line 147, mlba/static/styles/style.scss */
.ii-nav-end a {
  font-size: 10vw; }

/* line 153, mlba/static/styles/style.scss */
.ii-big-h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 3.8vh;
  color: white;
  text-shadow: 1px 7px 4px rgba(0, 0, 0, 0.8); }

/* line 160, mlba/static/styles/style.scss */
.ii-big-h2-white {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 3.8vw;
  color: white; }

/* line 167, mlba/static/styles/style.scss */
.ii-big-h2-black {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 3.8vw;
  color: black; }

/* line 173, mlba/static/styles/style.scss */
.ii-subtitle {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  color: black;
  font-size: 2.5vw;
  line-height: 1.25; }

/* line 182, mlba/static/styles/style.scss */
.ii-bgimg-1, .ii-bgimg-2, .ii-bgimg-3, .ii-bgimg4 {
  min-height: 100vh;
  position: relative;
  opacity: 1;
  top: -60px;
  margin-top: -60px;
  padding: 10% 2% 10% 2%; }

/* line 192, mlba/static/styles/style.scss */
.ii-bgimg-1 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  min-height: 920px; }

/* line 199, mlba/static/styles/style.scss */
.ii-hero-body {
  height: 200px;
  top: 6%;
  margin-top: 6%; }

@media screen and (max-width: 1024px) {
  /* line 206, mlba/static/styles/style.scss */
  .ii-hero-body {
    height: 200px;
    top: 50%;
    margin-top: 50%; } }

/* line 213, mlba/static/styles/style.scss */
.ii-h-b {
  text-align: center;
  z-index: 999; }

/* line 217, mlba/static/styles/style.scss */
.ii-logo {
  width: 50%;
  position: relative;
  left: auto;
  right: auto; }

/* line 223, mlba/static/styles/style.scss */
.ii-ar {
  width: 100px;
  height: 100px;
  position: relative;
  margin-top: 2.5%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/static/images/iionu/arrow-white.svg?f0e5dbaa756b");
  background-size: cover; }

/* line 235, mlba/static/styles/style.scss */
.ii-bgimg-2 {
  background: #00d1b2;
  background: linear-gradient(180deg, #00d1b2 0%, #82ffec 55%, #e2fffb 100%);
  padding: 5% 0 5%; }

/* line 240, mlba/static/styles/style.scss */
.ii-proj-box {
  width: 60%;
  position: relative;
  margin-left: auto;
  margin-right: auto; }

/* line 248, mlba/static/styles/style.scss */
.ii-bgimg-3 {
  background-image: url("/static/styles?fd33ec6d03af");
  text-align: center; }

/* line 252, mlba/static/styles/style.scss */
.txt-sketch {
  margin-left: -1600px;
  opacity: 0; }

/* line 257, mlba/static/styles/style.scss */
.ii-drawings {
  padding-top: 2%;
  opacity: 0; }

/* line 261, mlba/static/styles/style.scss */
.ii-drawings {
  text-align: center; }

/* line 266, mlba/static/styles/style.scss */
.ii-bgimg-4 {
  background-image: url("/static/styles?fd33ec6d03af"); }

/* line 273, mlba/static/styles/style.scss */
#ii-anim-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  margin-top: 100px; }

/* line 281, mlba/static/styles/style.scss */
.ii-box {
  background-size: cover;
  background-position: center;
  position: relative;
  /* for IE */
  /*CSS3 standard*/ }

/* line 292, mlba/static/styles/style.scss */
.ii-box:before {
  padding-top: 100%;
  content: "";
  display: block; }
