{% extends "base.html" %}

{% load compress %}
{% block content %}
{% autoescape off %}
{{content}}
{% endautoescape %}
<!--
    <div class="container">

        <h2> Welcome to My Blog </h2>
    <div class="sitecontent ">


    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at porta augue. Suspendisse in felis non tortor imperdiet semper. Donec accumsan sapien sed lorem commodo sodales. Maecenas et metus volutpat, hendrerit magna at, dictum lectus. Cras neque sapien, blandit sit amet commodo vel, condimentum nec nibh. Proin quis sapien hendrerit, suscipit erat id, commodo tortor. Donec vehicula iaculis metus sit amet feugiat. Donec ac augue sit amet ligula iaculis vulputate vel et sem. In vulputate sapien ac massa sollicitudin, feugiat aliquet velit consectetur. Mauris sit amet gravida justo, at ornare urna.


    </div>

     <div class="sitecontent">


    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at porta augue. Suspendisse in felis non tortor imperdiet semper. Donec accumsan sapien sed lorem commodo sodales. Maecenas et metus volutpat, hendrerit magna at, dictum lectus. Cras neque sapien, blandit sit amet commodo vel, condimentum nec nibh. Proin quis sapien hendrerit, suscipit erat id, commodo tortor. Donec vehicula iaculis metus sit amet feugiat. Donec ac augue sit amet ligula iaculis vulputate vel et sem. In vulputate sapien ac massa sollicitudin, feugiat aliquet velit consectetur. Mauris sit amet gravida justo, at ornare urna.


    </div>

     <div class="sitecontent">


    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at porta augue. Suspendisse in felis non tortor imperdiet semper. Donec accumsan sapien sed lorem commodo sodales. Maecenas et metus volutpat, hendrerit magna at, dictum lectus. Cras neque sapien, blandit sit amet commodo vel, condimentum nec nibh. Proin quis sapien hendrerit, suscipit erat id, commodo tortor. Donec vehicula iaculis metus sit amet feugiat. Donec ac augue sit amet ligula iaculis vulputate vel et sem. In vulputate sapien ac massa sollicitudin, feugiat aliquet velit consectetur. Mauris sit amet gravida justo, at ornare urna.


    </div>

      <div class="sitecontent">


    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at porta augue. Suspendisse in felis non tortor imperdiet semper. Donec accumsan sapien sed lorem commodo sodales. Maecenas et metus volutpat, hendrerit magna at, dictum lectus. Cras neque sapien, blandit sit amet commodo vel, condimentum nec nibh. Proin quis sapien hendrerit, suscipit erat id, commodo tortor. Donec vehicula iaculis metus sit amet feugiat. Donec ac augue sit amet ligula iaculis vulputate vel et sem. In vulputate sapien ac massa sollicitudin, feugiat aliquet velit consectetur. Mauris sit amet gravida justo, at ornare urna.


    </div>
      <div class="sitecontent">


    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at porta augue. Suspendisse in felis non tortor imperdiet semper. Donec accumsan sapien sed lorem commodo sodales. Maecenas et metus volutpat, hendrerit magna at, dictum lectus. Cras neque sapien, blandit sit amet commodo vel, condimentum nec nibh. Proin quis sapien hendrerit, suscipit erat id, commodo tortor. Donec vehicula iaculis metus sit amet feugiat. Donec ac augue sit amet ligula iaculis vulputate vel et sem. In vulputate sapien ac massa sollicitudin, feugiat aliquet velit consectetur. Mauris sit amet gravida justo, at ornare urna.


    </div>
        </div>
-->
{% endblock content %}
