{% extends 'base.html' %}
{% load bulma_tags %}
{%block content %}

<div class="container">
<div class="columns">
 <div class="column is-three-fifths is-offset-one-fifth">
        <p class="is-size-2 has-text-centered is-uppercase">Register </p>
<p> It's free! </p>
<form method="post" action ="{% url 'register' %}">
   {% csrf_token %}
   {{ form|bulma }}
    {{ backend_form }}
   <div class="field">
     <button type="submit" class="button is-primary">Register</button>
   </div>
<p> Already registered? <a href ="/login/">Login </a> </p>
<input type= "hidden" name="next" value ="{{next}}" />
{%csrf_token%}
</form>

</div>
</div>
</div>
{%endblock content%}

